.menu>a{
    color:blue;
    text-decoration: none;
    font-variant: small-caps;
}
.menu>a:visited{
    color:green;
}
.menu>a:hover{
    color: red;
    text-decoration: underline;
}
div{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 20px 0px;
}
img{
    width: 200px;
}
*{
    text-align: center;
}